# Environment / Secrets
.env
*.xcuserstate

# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/

# CocoaPods (if used)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
